// Add custom grid settings here (i.e. gutters, columns, etc)

// Mobile First Breakpoints
$small-screen: 480px;
$medium-screen: 600px;
$large-screen: 768px;
$extra-large-screen: 1024px;

$small: new-breakpoint(min-width $small-screen 1);
$medium: new-breakpoint(min-width $medium-screen 6);
$large: new-breakpoint(min-width $large-screen 12);
$extra-large: new-breakpoint(min-width $extra-large-screen 12);
