.usa-grid,
.usa-grid-full {
  @include outer-container();
  padding: 0;
  max-width: $site-max-width;

  .drawer {
    @include is-drawer();
  }

  .button-download_above_opportunities {
    display: none;
  }

  @include media($medium) {
    .usa-offset-one-twelfth {
      @include shift(1);
    }

    .usa-offset-one-sixth {
      @include shift(1);
    }

    .usa-width-one-whole {
      @include span-columns(6);
    }
    .usa-width-one-half {
      @include span-columns(3);
    }
    .usa-width-one-third {
      @include span-columns(2);
    }
    .usa-width-two-thirds {
      @include span-columns(4);
    }
    .usa-width-one-fourth {
      @include span-columns(3);


      &:nth-child(2n) {
        margin-right: 0;
      }
    }
    .usa-width-three-fourths {
      @include span-columns(6);
    }
    .usa-width-one-sixth {
      @include span-columns(2);

      &:nth-child(3n) {
        margin-right: 0;
      }
    }
    .usa-width-five-sixths {
      @include span-columns(5);
    }
    .usa-width-one-twelfth {
      @include span-columns(2);

      &:nth-child(3n) {
        margin-right: 0;
      }
    }

    .button-download_wrapper {
      display: none;
    }

    .button-download_above_opportunities {
      display: inline-block;
    }

    .drawer {
      @include is-drawer();
    }
  }

  @include media($large) {

    @include outer-container();

    .usa-width-one-whole {
      @include span-columns(12);
    }
    .usa-width-one-half {
      @include span-columns(6);
    }
    .usa-width-one-third {
      @include span-columns(4);
    }
    .usa-width-two-thirds {
      @include span-columns(8);
    }

    .opportunity-filter_toggle,
    drawer[aria-hidden=false] button[data-drawer-toggle="close"] {
      display: none;
    }

    .pagination-menu {
      text-align: center;
    }

    .opportunity-pagination_status {
      margin: auto;
      margin-bottom: $base-padding-lite;
    }

    .button-download_wrapper {
      display: inline-block;
    }

    .grid-inner {
      margin-top: $base-padding-large;
    }

    .button-download_above_opportunities {
      display: none;
    }

    .usa-width-one-fourth {
      @include span-columns(3);

      &:nth-child(2n) {
        @include span-columns(3);
      }

      &:nth-child(4n) {
        margin-right: 0;
      }
    }

    .drawer {
      @include drawer-in-page();
    }

    .usa-width-three-fourths {
      @include span-columns(9);
    }
    .usa-width-one-sixth {
      @include span-columns(2);

      &:nth-child(3n) {
        @include span-columns(2);
      }

      &:nth-child(6n) {
        margin-right: 0;
      }
    }
    .usa-width-five-sixths {
      @include span-columns(10);
    }
    .usa-width-one-twelfth {
      @include span-columns(1);

      &:nth-child(3n) {
        @include span-columns(1);
      }

      &:nth-child(12n) {
        margin-right: 0;
      }
    }
  }

  @include media($extra-large) {
    .button-download {
      padding-left: 15px;
      padding-right: 15px;
    }

    .button-download_text {
      text-align: center;
    }
  }

  // Specificies end of a row.
  // Required if grid-box contains multiple rows.
  // Required if browser does not support :last-child
  .usa-end-row {
    @include omega();
  }
}

.usa-grid {
  padding: 0 $grid-margins;
}

.usa-grid-full {
  padding: 0;
}
