.usa-disclaimer {
  @include media($small-screen) {
    font-size: $h5-font-size;
  }

  background-color: $color-gray-lightest;
  font-size: $h6-font-size;
  padding: {
    bottom: .5rem;
    top: .5rem;
  }
}

// This hides the stage note (i.e. alpha, beta, etc) of the disclaimer for
// anything smaller than large screen sizes
.usa-disclaimer-stage {
  @include media($large-screen) {
    display: block;
  }
  display: none;
  float: right;
}

.usa-flag_icon {
  margin-left: 0.2rem;
}


.disclaimer {
  padding-left: $base-padding;
  padding-right: $base-padding;
  background-color: $color-gray-lightest;
}


.disclaimer-left {
  text-align: center;
}

.disclaimer-right {
  display: none;
  float: right;
}

@include media($medium-screen) {
  .disclaimer-left {
    float: left;
  }

  .disclaimer-right {
    display: inline-block;
  }
}

.usa-grid-no-padding {
  margin: 0;
  max-width: initial;
  padding: 0;
}

