.usa-grid,
.usa-grid-full {

  .usa-heading-small {
    margin: 0;
  }

  .form-group-dropdown {
    margin: 0;
  }

  @include media($large) {

    .usa-heading-small {
      margin-bottom: -20px;
      margin-left: -30px;
    }

    .form-group-dropdown {
      margin-bottom: -20px;
      margin-left: -30px !important;
    }
  }

}

drawer button[data-drawer-toggle="filters"],
drawer button[data-drawer-toggle="close"] {
  position: absolute;
  margin: 0;
  max-width: 100px;
  top: 0;
  border-radius: 0;
}

drawer button[data-drawer-toggle="filters"] {
  left: 100%;
}

drawer button[data-drawer-toggle="close"] {
  right: 0;
  display: none;
}

drawer[aria-hidden=true] {
  button[data-drawer-toggle="filters"] {
    display: block;
  }

  button[data-drawer-toggle="close"] {
    display: none;
  }
}

drawer[aria-hidden=false] {
  button[data-drawer-toggle="filters"] {
    display: none;
  }

  button[data-drawer-toggle="close"] {
    display: block;
  }
}
