.header {
  background-color: $color-gray-dark;
  color: $color-white;
  display: table;
  font-family: $font-sans;
  padding-bottom: $base-padding-lite;
  padding-left: $grid-margins;
  padding-right: $grid-margins;
  padding-top: $base-padding-lite;
  width: 100%;
}

.header-logo,
.header-logo_link {
  display: inline-block;
  height: $gsa-logo-width;
  width: $gsa-logo-width;
}

.header-logo_link {
  display: table-cell;
  vertical-align: middle;
}

.header-title {
  display: table-row;
  font-family: $font-sans;
  font-weight: 200;
  margin: 0;
}

.header-title_text {
  display: table-cell;
  padding-left: $base-padding;
  padding-right: $base-padding;
  vertical-align: middle;
}

.header-logo {
  vertical-align: text-bottom;
}


