.pagination-menu {
  border-top: 1px solid $color-base;
  font-weight: $font-bold;
  padding-top: $base-padding;
  text-align: right;
}

.pagination-status {
  display: inline-block;
  float: left;
  font-weight: $font-light;
  margin-bottom: $base-padding-lite;
}

.pagination-bottom {
  padding: $base-padding;
  text-align: center;
  width: 100%;
}

.pagination-bottom {
  padding-bottom: $base-padding;
  margin: auto;
}

.pagination-bottom > li {
  display: inline-block;
  padding: 0px 5px 0px 5px;
  margin: 0px;
}

.pagination-bottom > li.active a,
.pagination-bottom > li.disabled a {
  color: $color-base;
  cursor: default;
  text-decoration: none;
}
