.detail-label {
  font-weight: bold;
}

.details-header {
	font-weight: $font-light;
}


.details-table {
  font-family: $font-sans;

  tr {

  }

  td {
    border: none;
    vertical-align: top;
  }

  td:first-of-type {
    font-weight: 600;
    width: 150px;
    padding-left: 0;

    @include media($small-screen) {
    	width: 200px;
    }

    @include media($medium-screen) {
    	width: 300px;
    }
  }

  td:last-of-type {
    padding-right: 0;
  }
}
