.detail-label {
  font-weight: bold;
}

.details-back {
  display: inline-block;
  margin-bottom: ($base-padding * 2);
}

.details-breadcrumb {
  margin: 0;
  display: table-row;

  span {
    display: table-cell;
    font-weight: $font-light;
    padding: 0;
    vertical-align: initial;

    &:first-of-type {
      padding-right: 5px;
    }

    &:last-of-type {
      padding-left: 5px;
    }
  }
}

.details-header {
  margin-top: $base-padding-sliver;
  font-weight: $font-light;
}

.details-table_header {
  font-weight: $font-light;
}

.details-table {
  font-family: $font-sans;
  margin: 0;

  tr {

  }

  td {
    border: none;
    vertical-align: top;
  }

  td:first-of-type {
    font-weight: 600;
    width: 150px;
    padding-left: 0;

    @include media($small-screen) {
      width: 200px;
    }

    @include media($medium-screen) {
      width: 300px;
    }
  }

  td:last-of-type {
    padding-right: 0;
    font-weight: $font-light;
  }
}
