.error-page {
  text-align: center;
}

.error-page .error-page-header,
.error-page .error-page-hero {
  margin: 0;
}

.error-page .error-page-hero {
  font-size: rem(70px);
  font-weight: $font-normal;
}
