.filter-agency {
  margin-bottom: $base-padding-large;
}

.filter-header {
  font-weight: $font-normal;
  margin: 0;
}

#filter-button {
  border-radius: 0;
  background-color: #0071bc;
  color: white;
}
