#opportunities {
  // position: relative;
}

.opportunity-row {
  float: left;
  padding: $base-padding;
  width: 100%;
}

.opportunity-row:nth-child(2n) {
  background: $color-gray-lightest;
  background: $color-gray-cool-light;
}

.opportunity-row:first-child {
  border-top: 1px solid $color-base;
}

.opportunity-row .office {
  margin: 0;
  font-size: 0.7em;
  font-weight: $font-light;
}

.opportunity-row .detail-label,
.opportunity-row .detail-field {
  display: table-cell;
  padding: 5px;
  vertical-align: top;
}

.opportunity-row .detail-field {
  font-weight: $font-light;
}

.opportunity-row .detail-row {
  font-weight: $font-light;
  display: table-row;
}


.opportunity-row .description {
  border-bottom: 1px solid $color-base;
  font-size: 1.25em;
  font-weight: $font-light;
  margin-bottom: $base-padding-lite;
  margin-top: ($base-padding-lite / 2);
  padding-bottom: $base-padding-lite;
}

.details {
  font-size: 0.7em;
}

.opportunity-details {
  margin-bottom: 0;
}

