<div id="agency" class="filter-agency">
  <h3 class="filter-header">Filter by:</h3>

  <div class="form-group-dropdown">
  <label for="agency-dropdown">Agency</label>
  <select name="agency-dropdown" id="agency-dropdown" >
    <option default value="all">All</option>
  </select>

  </div>

  <div class="form-group-dropdown">
  <label for="award_status-dropdown">Award Status</label>
  <select name="award_status-dropdown" id="award_status-dropdown" >
    <option default value="all">All</option>
  </select>

  </div>

  <div class="form-group-dropdown">
  <label for="naics-dropdown">NAICS Code</label>
  <select name="naics-dropdown" id="naics-dropdown" >
    <option default value="all">All</option>
  </select>
  </div>


  <div class="form-group-dropdown">
  <label for="place_of_performance_state-dropdown">Place of Performance</label>
  <select name="place_of_performance_state-dropdown" id="place_of_performance_state-dropdown" >
    <option default value="all">All</option>
  </select>
  </div>

<!-- The following filters initialize as hidden -->

  <div class="form-group-input">
    <label for="dollar-value-min">Minimum Value</label>
    <input type="text" name="dollar-value-min" id="dollar-value-min">
  </div>

  <div class="form-group-input">
    <label for="dollar-value-max">Maximum Value</label>
    <input type="text" name="dollar-value-max" id="dollar-value-max">
  </div>

  <div class="form-group-dropdown">
  <label for="estimated_fiscal_year_quarter-dropdown">Projected Solicitation Quarter</label>
  <select name="estimated_fiscal_year_quarter-dropdown" id="estimated_fiscal_year_quarter-dropdown" >
    <option default value="all">All</option>
  </select>
  </div>

<!-- The following link allows for showing additional filters -->
    <div class="usa-heading-small"><p><a href="#" id="more-filters">More filters</a></p></div>

</div>
