<form id="agency" class="filter-agency">
  <div class="form-group-dropdown">
    <label for="agency-dropdown">Filter by Agency</label>
    <select name="agency-dropdown" id="agency-dropdown" >
      <option default value="gsa">GSA</option>
      <option value="state">Department of State</option>
      <option value="ed">Department of Education</option>
    </select>

  </div>
</form>

<div class="usa-heading-small">(Only for GSA) Filter by:</div>
<form>
  <div class="form-group-dropdown">
  <label for="award_status-dropdown">Award Status</label>
  <select name="award_status-dropdown" id="award_status-dropdown" >
    <option default value="all">All</option>
  </select>

  </div>

  <div class="form-group-dropdown">
  <label for="naics-dropdown">NAICS Code</label>
  <select name="naics-dropdown" id="naics-dropdown" >
    <option default value="all">All</option>
  </select>
  </div>


  <div class="form-group-dropdown">
  <label for="place_of_performance_state-dropdown">State</label>
  <select name="place_of_performance_state-dropdown" id="place_of_performance_state-dropdown" >
    <option default value="all">All</option>
  </select>
  </div>

<!-- The following filters initialize as hidden -->

  <div class="form-group-dropdown">
  <label for="award_amount-dropdown">Award Amount</label>
  <select name="award_amount-dropdown" id="award_amount-dropdown" >
    <option default value="all">All</option>
  </select>
  </div>

  <div class="form-group-dropdown">
  <label for="estimated_fiscal_year_quarter-dropdown">Projected Solicitation Quarter</label>
  <select name="estimated_fiscal_year_quarter-dropdown" id="estimated_fiscal_year_quarter-dropdown" >
    <option default value="all">All</option>
  </select>
  </div>

<!-- The following link allows for showing additional filters -->
    <div class="usa-heading-small"><p><a href="#" id="more-filters">More filters</a></p></div>

</form>
