{% load static from staticfiles %}

<footer class="usa-footer usa-footer-medium usa-sans" role="contentinfo">
    <div class="usa-footer-secondary_section">
      <div class="usa-grid">
        <div class="usa-footer-logo usa-width-one-half">
          <img class="usa-footer-logo-img" src="{% static 'assets/img/nav-logo.jpg' %}" alt="GSA Logo" />
          <h3 class="usa-footer-logo-heading usa-width-three-quarters">U.S. General Services Administration</h3>
        </div>

        <div class="usa-footer-contact-links usa-width-one-half">
          <div class="usa-social-links">
            <a href="https://www.facebook.com/GSA-Office-of-Small-Business-Utilization-219614578049300/">
              <span class="fa-stack">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse" role="img" aria-label="Facebook"></i>
              </span>
            </a>
            <a href="https://twitter.com/GSAOSBU">
              <span class="fa-stack">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse" role="img" aria-label="Twitter"></i>
              </span>
            </a>
            <a href="#">
              <span class="fa-stack">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-youtube fa-stack-1x fa-inverse" role="img" aria-label="Youtube"></i>
              </span>
            </a>
            <a href="#">
              <span class="fa-stack">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-instagram fa-stack-1x fa-inverse" role="img" aria-label="Instagram"></i>
              </span>
            </a>
            <a href="#">
              <span class="fa-stack">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-pinterest fa-stack-1x fa-inverse" role="img" aria-label="Pinterest"></i>
              </span>
            </a>
            <a href="#">
              <span class="fa-stack">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-envelope-o fa-stack-1x fa-inverse" role="img" aria-label="Email"></i>
              </span>
            </a>
          </div>

          <h6 class="usa-footer-contact-heading">Join the conversation</h6>
        </div>
      </div>
    </div>
  </footer>
