{% load filters %}

<!-- currently inactive in favor of loading from the API via pagination.js -->

{% for o in o %}

<li class="opportunity-row">
  <p class="office">
    {{ o.agency }}
    {% if o.office %}
    <span class="h5">|</span>
    <span> {{ o.office.organization }} </span>
    {% if o.office.region %}
    <span class="h5">|</span>
    <span> {{ o.office.region }}</span>
    {% endif %}
    {% endif %}
  </p>
  <p class="description">{{ o.description }} (#{{ o.id }})</p>
  <div class="details">
    <div class="row">
      <div class="usa-width-one-half">
        <p class="detail-row">
          <span class="detail-label">Award Status: </span><span class="detail-field">{{ o.award_status|default:"–" }}</span>
        </p>
        <p class="detail-row">
          <span class="detail-label">Place of Performance: </span>
          <spam class="detail-field">{{ o.place_of_performance_city }}, {% if o.place_of_performance_state == "International" %}{{ o.place_of_performance_country}} {% else %}{{ o.place_of_performance_state }}{% endif %}
          </span>
        </p>
        <p class="detail-row">
          <span class="detail-label">NAICS Code: </span><span class="detail-field">{{ o.naics|default:"–"}}</span>
        </p>
        <p class="detail-row">
          <span class="detail-label">Estimated Award Date: </span>
          <span class="detail-field">FY {{ o.estimated_fiscal_year }} - {{ o.estimated_fiscal_year_quarter }} Quarter</span>
        </p>
      </div>
      <div class="usa-width-one-half">
        <p class="detail-row">
          <span class="detail-label">Minimum Value: </span>
          <span class="detail-field">{{ o.dollar_value_min|currency:'–' }}</span>
        </p>
        <p class="detail-row">
          <span class="detail-label">Maximum Value: </span>
          <span class="detail-field">{{ o.dollar_value_max|currency:'–' }}</span>
        </p>
        <p class="detail-row">
          <span class="detail-label">Contract Type: </span>
          <span class="detail-field">{{ o.contract_type|default:"–" }}</span>
        </p>
        <p class="detail-row">
          <span class="detail-label">Socioeconomic Category: </span>
          <span class="detail-field">{{ o.socioeconomic|default:"–" }}</span>
        </p>
        <p class="detail-row opportunity-details"><a class="detail-label" href="/details/{{ o.id }}">View Details </a></p>
      </div>
    </div>
  </div>
</li>
{% endfor %}
