.usa-grid {
  padding: $base-padding;
  padding-bottom: 0;
}

.usa-grid-no-padding {
  @extend .usa-grid;

  margin: 0;
  max-width: initial;
  padding: 0;
}

footer .usa-grid {
  padding: $base-padding;
}

.grid-inner {
  margin-top: $base-padding;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

.content-wrapper {
  padding-top: ($base-padding * 2);
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}


