.usa-grid {
  padding: $base-padding;
  padding-bottom: 0;
}

footer .usa-grid {
  padding: $base-padding;
}

.grid-inner {
  margin-top: $base-padding;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

.content-wrapper {
  padding-top: ($base-padding * 2);
  min-height: rem(500px);
}
