{% extends "layout.html" %}
{% load static from staticfiles %}

{% block content %}

<div id="results">
  <section class="usa-grid-full">
    <div class="button-download_wrapper usa-width-one-fourth">
        <a href="api/opportunities/?format=csv">
          <button class="usa-button usa-button-outline button-download"
            style="-webkit-appearance: button">
            <icon class="button-download_icon fa fa-download"></icon>
            <span class="button-download_text">Download as spreadsheet</span>
          </button>
        </a>
    </div>
    <form role="search" class="usa-search usa-search-big usa-width-three-fourths search-wrapper">
      <label for="search" class="usa-sr-only" for="search-field-big">Search opportunities</label>
      <input class="search" id="search-field-big" type="search" name="search" placeholder="Enter keyword">
      <button type="button" id="filter-button" class="usa-search usa-search-submit " data-sort="description naics">
        <span class="usa-search-submit-text">Search</span>
      </button>

    </form>
  </section>


  <div class="usa-grid grid-inner">

    <drawer class="usa-width-one-fourth drawer" aria-hidden="true">

      <button class="fa fa-close" data-drawer-toggle="close"></button>

      {% include 'includes/filters.html' %}

    </drawer>
    <section class="usa-width-three-fourths">
      <div id="opportunities">
        <div class="opportunity-header">
          <div class="opportunity-pagination_status">Loading opportunities...</div>
          <div class="button-download_above_opportunities">

              <a href="api/opportunities/?format=csv">
                <button class="usa-button-outline button-download">
                  <icon class="button-download_icon fa fa-download"></icon>
                  <span class="button-download_text">Download as spreadsheet</span>
                </button>
              </a>
          </div>
          <button class="usa-button-outline opportunity-filter_toggle" data-drawer-toggle="filters">Filters</button>
        </div>
        <ul class="usa-unstyled-list list">
            {% include 'includes/opportunity.html' %}
        </ul>
        <ul class="usa-unstyled-list pagination-bottom"></ul>
      </div>
    </section>
  </div>
</div>

{% endblock %}

{% block scripts %}

<script src="{% static 'assets/js/vendor/jquery-1.11.3.min.js' %}"></script>
<script src="{% static 'assets/js/vendor/underscore-min.js' %}"></script>
<script src="{% static 'assets/js/vendor/list.min.js' %}"></script>
<script src="{% static 'assets/js/vendor/list.pagination.min.js' %}"></script>

<script type="text/javascript" src="{% static 'assets/js/src/pagination.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/src/drawer.js' %}"></script>

{% endblock %}
