{% extends "layout.html" %}
{% load static from staticfiles %}

{% block content %}

<div id="results">
  <form class="usa-search usa-search-big">
    <div role="search">
      <label for="search" class="usa-sr-only" for="search-field-big">Search opportunities</label>
      <input class="search" id="search-field-big" type="search" name="search" placeholder="Enter keyword">
      <button type="button" id="filter-button" class="usa-search usa-search-submit" data-sort="description naics">
        <span class="usa-search-submit-text">Search</span>
      </button>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="api/opportunities/?format=json&count=10">Download Spreadsheet</a>
    </div>
  </form>


  <div class="usa-grid">

    <drawer class="usa-width-one-fourth">
      <button data-drawer-toggle="filters">Filters</button>
      <button data-drawer-toggle="close">Close</button>

      {% include 'includes/filters.html' %}

    </drawer>
    <section class="usa-width-three-fourths">
      <div id="opportunities">
        <div class="pagination-menu">Browse opportunities</div>
        <ul class="usa-unstyled-list pagination-top"></ul>
        <ul class="usa-unstyled-list list">
            {% include 'includes/opportunity.html' %}
        </ul>
        <ul class="usa-unstyled-list pagination-bottom"></ul>
      </div>
    </section>
  </div>
</div>

{% endblock %}

{% block scripts %}

<script src="{% static 'assets/js/vendor/jquery-1.11.3.min.js' %}"></script>
<script src="{% static 'assets/js/vendor/underscore-min.js' %}"></script>
<script src="{% static 'assets/js/vendor/list.min.js' %}"></script>
<script src="{% static 'assets/js/vendor/list.pagination.min.js' %}"></script>
<script>

</script>
<script>
  $(function(){

    var throttle = function throttle(fn, threshhold, scope) {
      threshhold || (threshhold = 250);
      var last,
          deferTimer;
      return function () {
        var context = scope || this;

        var now = +new Date,
            args = arguments;
        if (last && now < last + threshhold) {
          // hold on to it
          clearTimeout(deferTimer);
          deferTimer = setTimeout(function () {
            last = now;
            fn.apply(context, args);
          }, threshhold);
        } else {
          last = now;
          fn.apply(context, args);
        }
      };
    };

    var header = document.querySelector('header'),
      drawer = document.querySelector('drawer');

    function setDrawerTop () {
      var newHeight = header.getBoundingClientRect().bottom;
      drawer.style.top = newHeight + 'px';
    };

    // initialize height of drawer path
    setDrawerTop();

    window.addEventListener('resize', throttle(setDrawerTop, 150, window));
  });
</script>
<script>
  $(function() {

    /**
     * Utilities for setting or removing tabindex on all focusable elements
     * in a parent div. Useful for hiding elements off-canvas without setting
     * display:none, while still removing from the tab order
     */
    var accessibility = {
      removeTabindex: function removeTabindex($elm) {
        $elm
          .find('a, button, :input, [tabindex]')
          .attr('tabindex', '-1');
      },
      restoreTabindex: function restoreTabindex($elm) {
        $elm
          .find('a, button, :input, [tabindex]')
          .attr('tabindex', '0');
      }
    };

    var KEYCODE_ESC = 27;

    var defaultSelectors = {
      'body': 'drawer',
      'toggle': '[data-drawer-toggle]'
    };

    /**
     * Drawer widget
     * @constructor
     * @param {Array} terms - Term objects with
     * @param {Object} selectors - CSS selectors for drawer components
     */
    var Drawer = function Drawer(selectors) {
      var self = this;

      self.selectors = $.extend({}, defaultSelectors, selectors);

      self.$body = $(self.selectors.body);
      self.$toggle = $(self.selectors.toggle);

      // Initialize state
      self.isOpen = true;

      // Remove tabindices
      accessibility.removeTabindex(self.$body);

      // Bind listeners
      self.$toggle.on('click', this.toggle.bind(this));
    };

    Drawer.prototype = {

      toggle: function() {
        console.log(this)
        var method = this.isOpen ? this.hide : this.show;
        method.apply(this);
      },

      show: function() {
        this.$body.addClass('is-open').attr('aria-hidden', 'false');
        this.$toggle.addClass('active');
        this.isOpen = true;
        accessibility.restoreTabindex(this.$body);
      },

      hide: function() {
        this.$body.removeClass('is-open').attr('aria-hidden', 'true');
        this.$toggle.removeClass('active');
        this.isOpen = false;
        accessibility.removeTabindex(this.$body);

      },

      /** Close drawer on escape keypress */
      handleKeyup: function(e) {
        if (e.keyCode == KEYCODE_ESC) {
          if (this.isOpen) {
            this.hide();
          }
        }
      }
    };

    var drawer = new Drawer();

  });
</script>
<script type="text/javascript">
  /**
   *Initializes list.js
   **/
  var paginationTopOptions = {
    name: 'paginationTop',
    paginationClass: 'pagination-top',
    innerWindow: 5,
    outerWinder: 1
  }
  var paginationBottomOptions = {
    name: 'paginationBottom',
    paginationClass: 'pagination-bottom',
    innerWindow: 5,
    outerWinder: 1
  }
  var listOptions = {
    valueNames: [
      'award_status',
      'place_of_performance_state',
      'naics',
      'award_amount',
      'estimated_fiscal_year_quarter',
      'description',
      'funding_agency',
      'estimated_fiscal_year',
      'place_of_performance_city',
      'contract_type',
      'office'
    ]
    , page: 25
    , plugins: [
      ListPagination(paginationTopOptions),
      ListPagination(paginationBottomOptions)]

  };
  var listObj = new List('opportunities', listOptions)
  var data = {}

  /**
   *Initializes the More/Fewer Filters
   **/
  $("#award_amount-dropdown").parent().toggle();
  $("#estimated_fiscal_year_quarter-dropdown").parent().toggle();
  $("#more-filters").on('click', function(e){
    $("#more-filters").text("Fewer Filters");
    $("#award_amount-dropdown").parent().toggle();
    $("#estimated_fiscal_year_quarter-dropdown").parent().toggle();
  });

  /**
   * Load the Data into the Filters
   **/
  _.each(listOptions.valueNames, function (name) {

    // Create an array for each filterable element
    data[name] = [];
    $('.'+name).each( function (index) {
      data[name].push($(this).text());
    })

    // Find unique values and add them as options in dropdowns
    var opt = _.uniq(data[name]);
    $.each(opt, function(key, value) {
      $('#' + name + '-dropdown')
        .append($("<option></option>")
        .attr("value",value)
        .text(value));
    });

    // Add the filtering action to each dropdown
    var dropdown = "#" + name + "-dropdown";
    $(dropdown).change(function (){
      listObj.filter(function(item) {
        var value = $(dropdown).val();
        if (value === "all") {
          return true;
        }
        else {
          return (item.values()[name] === value ? true : false);
        }
      })
    })
  })

  $(document).ready(function () {
    // Search within list of opportunities
    $(".search").keyup(function () {
      listObj.search($(this).val());
    });

    // Disable search while it doesn't actually query the DB
    $(".search").keypress(function (event) {
      if (event.which == '13') {
        event.preventDefault();
      }
    })
  })

</script>

{% endblock %}
