{% load static from staticfiles %}

<html>
<head>
<title>OSBU Forecast</title>

<link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48605964-41', 'auto');
  ga('set', 'anonymizeIp', true);
  ga('set', 'forceSSL', true);
  ga('send', 'pageview');
</script>
</head>
<body>

<div class="usa-grid">
  <div class="usa-width-one-whole">
    <h1 class="usa-heading">Forecast of Contracting Opportunities</h1>
    <form class="usa-search usa-search-big">
      <div role="search">
        <label for="search" class="usa-sr-only" for="search-field-big">Search opportunities</label>
        <input id="search-field-big" type="search" name="search" placeholder="Enter keyword">
        <button type="submit">
          <span class="usa-search-submit-text">Search</span>
        </button>
      </div>
    </form>
    <div id="results">
      Loading...
    </div>
  </div>
</div>

<script src="{% static 'assets/js/vendor/jquery-1.11.3.min.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>

</body>
</html>
