.opportunity-row {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 1.5em;
}

.office {
  border-top: 2px solid !important;
  padding-top: 1em;
}

.opportunity-row-alternate {
  background-color: $color-gray-lightest;
}

.detail-label {
  font-weight: bold;
}

.description{
  font-size: 3rem;
  font-weight: bold;
}

#results li:before {
  content: "";
}

.usa-search-submit-text {
  font-size: $h3-font-size;
}
