.opportunity-row {
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 2px solid;
}
.opportunity-row-alternate {
  background-color: $color-gray-lightest;
}
.detail-label {
  font-weight: bold;
}
.description{
  font-size: 3rem;
  font-weight: bold;
  border-bottom: 1px solid;
}
