/*COLOR PALETTE*/

/*
White – #FFFFFF
Light – #B3EFFF
Bright – #00CFFF
Medium – #046B99
Dark – #1C304A
Black –#000000
*/


/*
    DJANGO Admin styles
*/

@import url(fonts.css);

body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
    color: #333;
    background: #fff;
}

/* GRID */
.usa-grid,
.usa-grid-full {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  max-width: 1040px; }
  .usa-grid::after,
  .usa-grid-full::after {
    clear: both;
    content: "";
    display: table; }
  .usa-grid .drawer,
  .usa-grid-full .drawer {
    -webkit-transition: right, 0.3s;
    -moz-transition: right, 0.3s;
    transition: right, 0.3s;
    background: #112e51;
    color: #ffffff;
    right: 0;
    margin: 0;
    max-width: 200px;
    overflow-y: auto;
    padding: 1.25em;
    position: fixed;
    width: 200px; }
    .usa-grid .drawer[aria-hidden=true],
    .usa-grid-full .drawer[aria-hidden=true] {
      display: block !important;
      right: -200px; }
    .usa-grid .drawer[aria-hidden=false],
    .usa-grid-full .drawer[aria-hidden=false] {
      right: 0; }
    .usa-grid .drawer #more-filters,
    .usa-grid-full .drawer #more-filters {
      color: #ffffff; }
  .usa-grid .button-download_above_opportunities,
  .usa-grid-full .button-download_above_opportunities {
    display: none; }
  @media screen and (min-width: 600px) {
    .usa-grid .usa-offset-one-twelfth,
    .usa-grid-full .usa-offset-one-twelfth {
      margin-left: 8.5298%; }
    .usa-grid .usa-offset-one-sixth,
    .usa-grid-full .usa-offset-one-sixth {
      margin-left: 17.47153%; }
    .usa-grid .usa-width-one-whole,
    .usa-grid-full .usa-width-one-whole {
      float: left;
      display: block;
      margin-right: 4.82916%;
      width: 100%; }
      .usa-grid .usa-width-one-whole:last-child,
      .usa-grid-full .usa-width-one-whole:last-child {
        margin-right: 0; }
    .usa-grid .usa-width-one-half,
    .usa-grid-full .usa-width-one-half {
      float: left;
      display: block;
      margin-right: 4.82916%;
      width: 47.58542%; }
      .usa-grid .usa-width-one-half:last-child,
      .usa-grid-full .usa-width-one-half:last-child {
        margin-right: 0; }
    .usa-grid .usa-width-one-third,
    .usa-grid-full .usa-width-one-third {
      float: left;
      display: block;
      margin-right: 4.82916%;
      width: 30.11389%; }
      .usa-grid .usa-width-one-third:last-child,
      .usa-grid-full .usa-width-one-third:last-child {
        margin-right: 0; }
    .usa-grid .usa-width-two-thirds,
    .usa-grid-full .usa-width-two-thirds {
      float: left;
      display: block;
      margin-right: 4.82916%;
      width: 65.05695%; }
      .usa-grid .usa-width-two-thirds:last-child,
      .usa-grid-full .usa-width-two-thirds:last-child {
        margin-right: 0; }
    .usa-grid .usa-width-one-fourth,
    .usa-grid-full .usa-width-one-fourth {
      float: left;
      display: block;
      margin-right: 4.82916%;
      width: 47.58542%; }
      .usa-grid .usa-width-one-fourth:last-child,
      .usa-grid-full .usa-width-one-fourth:last-child {
        margin-right: 0; }
      .usa-grid .usa-width-one-fourth:nth-child(2n),
      .usa-grid-full .usa-width-one-fourth:nth-child(2n) {
        margin-right: 0; }
    .usa-grid .usa-width-three-fourths,
    .usa-grid-full .usa-width-three-fourths {
      float: left;
      display: block;
      margin-right: 4.82916%;
      width: 100%; }
      .usa-grid .usa-width-three-fourths:last-child,
      .usa-grid-full .usa-width-three-fourths:last-child {
        margin-right: 0; }
    .usa-grid .usa-width-one-sixth,
    .usa-grid-full .usa-width-one-sixth {
      float: left;
      display: block;
      margin-right: 4.82916%;
      width: 30.11389%; }
      .usa-grid .usa-width-one-sixth:last-child,
      .usa-grid-full .usa-width-one-sixth:last-child {
        margin-right: 0; }
      .usa-grid .usa-width-one-sixth:nth-child(3n),
      .usa-grid-full .usa-width-one-sixth:nth-child(3n) {
        margin-right: 0; }
    .usa-grid .usa-width-five-sixths,
    .usa-grid-full .usa-width-five-sixths {
      float: left;
      display: block;
      margin-right: 4.82916%;
      width: 82.52847%; }
      .usa-grid .usa-width-five-sixths:last-child,
      .usa-grid-full .usa-width-five-sixths:last-child {
        margin-right: 0; }
    .usa-grid .usa-width-one-twelfth,
    .usa-grid-full .usa-width-one-twelfth {
      float: left;
      display: block;
      margin-right: 4.82916%;
      width: 30.11389%; }
      .usa-grid .usa-width-one-twelfth:last-child,
      .usa-grid-full .usa-width-one-twelfth:last-child {
        margin-right: 0; }
      .usa-grid .usa-width-one-twelfth:nth-child(3n),
      .usa-grid-full .usa-width-one-twelfth:nth-child(3n) {
        margin-right: 0; }
    .usa-grid .button-download_wrapper,
    .usa-grid-full .button-download_wrapper {
      display: none; }
    .usa-grid .button-download_above_opportunities,
    .usa-grid-full .button-download_above_opportunities {
      display: inline-block; }
    .usa-grid .drawer,
    .usa-grid-full .drawer {
      -webkit-transition: right, 0.3s;
      -moz-transition: right, 0.3s;
      transition: right, 0.3s;
      background: #112e51;
      color: #ffffff;
      right: 0;
      margin: 0;
      max-width: 200px;
      overflow-y: auto;
      padding: 1.25em;
      position: fixed;
      width: 200px; }
      .usa-grid .drawer[aria-hidden=true],
      .usa-grid-full .drawer[aria-hidden=true] {
        display: block !important;
        right: -200px; }
      .usa-grid .drawer[aria-hidden=false],
      .usa-grid-full .drawer[aria-hidden=false] {
        right: 0; }
      .usa-grid .drawer #more-filters,
      .usa-grid-full .drawer #more-filters {
        color: #ffffff; } }
  @media screen and (min-width: 768px) {
    .usa-grid,
    .usa-grid-full {
      max-width: 68em;
      margin-left: auto;
      margin-right: auto; }
      .usa-grid::after,
      .usa-grid-full::after {
        clear: both;
        content: "";
        display: table; }
      .usa-grid .usa-width-one-whole,
      .usa-grid-full .usa-width-one-whole {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        .usa-grid .usa-width-one-whole:last-child,
        .usa-grid-full .usa-width-one-whole:last-child {
          margin-right: 0; }
      .usa-grid .usa-width-one-half,
      .usa-grid-full .usa-width-one-half {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%; }
        .usa-grid .usa-width-one-half:last-child,
        .usa-grid-full .usa-width-one-half:last-child {
          margin-right: 0; }
      .usa-grid .usa-width-one-third,
      .usa-grid-full .usa-width-one-third {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 31.76157%; }
        .usa-grid .usa-width-one-third:last-child,
        .usa-grid-full .usa-width-one-third:last-child {
          margin-right: 0; }
      .usa-grid .usa-width-two-thirds,
      .usa-grid-full .usa-width-two-thirds {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 65.88078%; }
        .usa-grid .usa-width-two-thirds:last-child,
        .usa-grid-full .usa-width-two-thirds:last-child {
          margin-right: 0; }
      .usa-grid .opportunity-filter_toggle,
      .usa-grid drawer[aria-hidden=false] button[data-drawer-toggle="close"],
      .usa-grid-full .opportunity-filter_toggle,
      .usa-grid-full drawer[aria-hidden=false] button[data-drawer-toggle="close"] {
        display: none; }
      .usa-grid .pagination-menu,
      .usa-grid-full .pagination-menu {
        text-align: center; }
      .usa-grid .opportunity-pagination_status,
      .usa-grid-full .opportunity-pagination_status {
        margin: auto;
        margin-bottom: 0.42em; }
      .usa-grid .button-download_wrapper,
      .usa-grid-full .button-download_wrapper {
        display: inline-block; }
      .usa-grid .grid-inner,
      .usa-grid-full .grid-inner {
        margin-top: 2.85em; }
      .usa-grid .button-download_above_opportunities,
      .usa-grid-full .button-download_above_opportunities {
        display: none; }
      .usa-grid .usa-width-one-fourth,
      .usa-grid-full .usa-width-one-fourth {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 23.23176%; }
        .usa-grid .usa-width-one-fourth:last-child,
        .usa-grid-full .usa-width-one-fourth:last-child {
          margin-right: 0; }
        .usa-grid .usa-width-one-fourth:nth-child(2n),
        .usa-grid-full .usa-width-one-fourth:nth-child(2n) {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 23.23176%; }
          .usa-grid .usa-width-one-fourth:nth-child(2n):last-child,
          .usa-grid-full .usa-width-one-fourth:nth-child(2n):last-child {
            margin-right: 0; }
        .usa-grid .usa-width-one-fourth:nth-child(4n),
        .usa-grid-full .usa-width-one-fourth:nth-child(4n) {
          margin-right: 0; }
      .usa-grid .drawer,
      .usa-grid-full .drawer {
        background: #ffffff;
        color: #212121;
        right: inherit;
        max-width: none;
        overflow-y: initial;
        padding: 0;
        position: static; }
        .usa-grid .drawer #more-filters,
        .usa-grid-full .drawer #more-filters {
          color: #212121; }
      .usa-grid .usa-width-three-fourths,
      .usa-grid-full .usa-width-three-fourths {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 74.41059%; }
        .usa-grid .usa-width-three-fourths:last-child,
        .usa-grid-full .usa-width-three-fourths:last-child {
          margin-right: 0; }
      .usa-grid .usa-width-one-sixth,
      .usa-grid-full .usa-width-one-sixth {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 14.70196%; }
        .usa-grid .usa-width-one-sixth:last-child,
        .usa-grid-full .usa-width-one-sixth:last-child {
          margin-right: 0; }
        .usa-grid .usa-width-one-sixth:nth-child(3n),
        .usa-grid-full .usa-width-one-sixth:nth-child(3n) {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 14.70196%; }
          .usa-grid .usa-width-one-sixth:nth-child(3n):last-child,
          .usa-grid-full .usa-width-one-sixth:nth-child(3n):last-child {
            margin-right: 0; }
        .usa-grid .usa-width-one-sixth:nth-child(6n),
        .usa-grid-full .usa-width-one-sixth:nth-child(6n) {
          margin-right: 0; }
      .usa-grid .usa-width-five-sixths,
      .usa-grid-full .usa-width-five-sixths {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 82.94039%; }
        .usa-grid .usa-width-five-sixths:last-child,
        .usa-grid-full .usa-width-five-sixths:last-child {
          margin-right: 0; }
      .usa-grid .usa-width-one-twelfth,
      .usa-grid-full .usa-width-one-twelfth {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 6.17215%; }
        .usa-grid .usa-width-one-twelfth:last-child,
        .usa-grid-full .usa-width-one-twelfth:last-child {
          margin-right: 0; }
        .usa-grid .usa-width-one-twelfth:nth-child(3n),
        .usa-grid-full .usa-width-one-twelfth:nth-child(3n) {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 6.17215%; }
          .usa-grid .usa-width-one-twelfth:nth-child(3n):last-child,
          .usa-grid-full .usa-width-one-twelfth:nth-child(3n):last-child {
            margin-right: 0; }
        .usa-grid .usa-width-one-twelfth:nth-child(12n),
        .usa-grid-full .usa-width-one-twelfth:nth-child(12n) {
          margin-right: 0; } }
  @media screen and (min-width: 1024px) {
    .usa-grid .button-download,
    .usa-grid-full .button-download {
      padding-left: 15px;
      padding-right: 15px; }
    .usa-grid .button-download_text,
    .usa-grid-full .button-download_text {
      text-align: center; } }
  .usa-grid .usa-end-row,
  .usa-grid-full .usa-end-row {
    margin-right: 0; }

.usa-grid {
  padding: 0 3rem; }

.usa-grid-full {
  padding: 0; }



/* UTILITY */
.usa-sr-only {
  position: absolute;
  left: -999em;
}

/* LINKS */
a {
    color:#0071bc;
}
a:link, a:visited {
    color: #447e9b;
    /*color:#0071bc;*/
    text-decoration: none;
}

a:hover {
    /*color: #036;*/
    color:#0071bc;
}

a img {
    border: none;
}

a.section:link, a.section:visited {
    color: #fff;
    text-decoration: none;
}

/* GLOBAL DEFAULTS */

p, ol, ul, dl {
    margin: .2em 0 .8em 0;
}

p {
    padding: 0;
    line-height: 140%;
}

h1,h2,h3,h4,h5 {
    font-weight: bold;
}

h1 {
    margin: 0 0 20px;
    font-weight: 300;
    font-size: 20px;
    color: #666;
}

h2 {
    font-size: 16px;
    margin: 1em 0 .5em 0;
}

h2.subhead {
    font-weight: normal;
    margin-top: 0;
}

h3 {
    font-size: 14px;
    margin: .8em 0 .3em 0;
    color: #666;
    font-weight: bold;
}

h4 {
    font-size: 12px;
    margin: 1em 0 .8em 0;
    padding-bottom: 3px;
}

h5 {
    font-size: 10px;
    margin: 1.5em 0 .5em 0;
    color: #666;
    text-transform: uppercase;
    letter-spacing: 1px;
}

ul li {
    list-style-type: square;
    padding: 1px 0;
}

li ul {
    margin-bottom: 0;
}

li, dt, dd {
    font-size: 13px;
    line-height: 20px;
}

dt {
    font-weight: bold;
    margin-top: 4px;
}

dd {
    margin-left: 0;
}

form {
    margin: 0;
    padding: 0;
}

fieldset {
    margin: 0;
    padding: 0;
    border: none;
    border-top: 1px solid #eee;
}

blockquote {
    font-size: 11px;
    color: #777;
    margin-left: 2px;
    padding-left: 10px;
    border-left: 5px solid #ddd;
}

code, pre {
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
    color: #666;
    font-size: 12px;
}

pre.literal-block {
    margin: 10px;
    background: #eee;
    padding: 6px 8px;
}

code strong {
    color: #930;
}

hr {
    clear: both;
    color: #eee;
    background-color: #eee;
    height: 1px;
    border: none;
    margin: 0;
    padding: 0;
    font-size: 1px;
    line-height: 1px;
}

/* TEXT STYLES & MODIFIERS */

.small {
    font-size: 11px;
}

.tiny {
    font-size: 10px;
}

p.tiny {
    margin-top: -2px;
}

.mini {
    font-size: 10px;
}

p.mini {
    margin-top: -3px;
}

.help, p.help, form p.help {
    font-size: 11px;
    color: #999;
}

.help-tooltip {
    cursor: help;
}

p img, h1 img, h2 img, h3 img, h4 img, td img {
    vertical-align: middle;
}

.quiet, a.quiet:link, a.quiet:visited {
    color: #999;
    font-weight: normal;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.clear {
    clear: both;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.example {
    margin: 10px 0;
    padding: 5px 10px;
    background: #efefef;
}

.nowrap {
    white-space: nowrap;
}

img[src*="icon-no"], img[src*="icon-yes"], img[src*="icon-unknown"] {
  width: 12px;
  height: 12px;
  vertical-align: -1px;
}

/* TABLES */

table {
    border-collapse: collapse;
    border-color: #ccc;
}

td, th {
    font-size: 13px;
    line-height: 16px;
    border-bottom: 1px solid #eee;
    vertical-align: top;
    padding: 8px;
    font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
}

th {
    font-weight: 600;
    text-align: left;
}

thead th,
tfoot td {
    color: #666;
    padding: 5px 10px;
    font-size: 11px;
    background: #fff;
    border: none;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

tfoot td {
    border-bottom: none;
    border-top: 1px solid #eee;
}

tr.alt {
    background: #f6f6f6;
}

.row1 {
    background: #fff;
}

.row2 {
    /* Pale */
    background-color: #F0F8FF;
}

/* SORTABLE TABLES */

thead th {
    padding: 5px 10px;
    line-height: normal;
    text-transform: capitalize;
    background: #f6f6f6;
    background-color: #1C304A;
    color: #fff;
}

thead th a:link, thead th a:visited {
    color: #666;
}

thead th.sorted {
    background: #eee;
}

thead th.sorted .text {
    padding-right: 42px;
}

table thead th .text span {
    padding: 8px 10px;
    display: block;
}

table thead th .text a {
    display: block;
    cursor: pointer;
    padding: 8px 10px;
    color: #fff;
    background-color: #1C304A;
}

table thead th .text a:hover,
table thead th .text a:focus {
    color: #fff;
    background-color: #1C304A;
}

table thead th.sortable:hover {
    background: #eee;
}

thead th.sorted a.sortremove {
    visibility: hidden;
}

table thead th.sorted:hover a.sortremove {
    visibility: visible;
}

table thead th.sorted .sortoptions {
    display: block;
    padding: 9px 5px 0 5px;
    float: right;
    text-align: right;
}

table thead th.sorted .sortpriority {
    font-size: .8em;
    min-width: 12px;
    text-align: center;
    vertical-align: 3px;
    margin-left: 2px;
    margin-right: 2px;
}

table thead th.sorted .sortoptions a {
    position: relative;
    width: 14px;
    height: 14px;
    display: inline-block;
    background: url(../img/svg/sorting-icons-white.svg) 0 0 no-repeat;
    background-size: 14px auto;
}

table thead th.sorted .sortoptions a.sortremove {
    background-position: 0 -69px;
    background-size: 7px;
}

table thead th.sorted .sortoptions a.sortremove:after {
    content: '\\';
    position: absolute;
    top: -3px;
    left: 0px;
    font-weight: 200;
    font-size: 18px;
    color: #999;
    color: #fff;
}

/*table thead th.sorted .sortoptions a.sortremove:hover:after {
    color: #447e9b;
}

table thead th.sorted .sortoptions a.sortremove:hover {
    background-position: 0 -14px;
}*/

table thead th.sorted .sortoptions a.ascending {
    background-position: 0 -28px;
    background-position: 0px -91px;
    background-size: 7px;
}

/*table thead th.sorted .sortoptions a.ascending:hover {
    background-position: 0 -42px;
}*/

table thead th.sorted .sortoptions a.descending {
    top: 1px;
    /*background-position: 0 -56px;*/
    background-position: 0px -81px;
    background-size: 7px;
}

table thead th.sorted .sortoptions a.descending:hover {
    /*background-position: 0 -70px;*/
}

/* FORM DEFAULTS */

input, textarea, select, .form-row p, form .button {
    margin: 2px 0;
    padding: 2px 3px;
    vertical-align: middle;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    font-weight: normal;
    font-size: 13px;
}

textarea {
    vertical-align: top;
}

input[type=text], input[type=password], input[type=email], input[type=url],
input[type=number], textarea, select, .vTextField {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px 6px;
    margin-top: 0;
    outline: none;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus,
input[type=url]:focus, input[type=number]:focus, textarea:focus, select:focus,
.vTextField:focus {
    border-color: #999;
}

select {
    height: 30px;
}

select[multiple] {
    min-height: 150px;
}

/* Form Overrides */
select,
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=number],
textarea {
    border-radius: 0;
    font-weight: 200;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    background: url(../img/angle-down.png) no-repeat;
    background-position: right 5px bottom 50%;
    background-size: 14px auto;
    padding-right: 20px;
}

/* FORM BUTTONS */

.button,
input[type=submit],
input[type=button],
.submit-row input,
a.button {
    /* Medium */
    background-color: #046B99;
    padding: 10px 15px;
    border: none;
    outline: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}

a.button {
    padding: 4px 5px;
}

.button:active, input[type=submit]:active, input[type=button]:active,
.button:hover, input[type=submit]:hover, input[type=button]:hover {
    /*background: #609ab6;*/
    /* Light */
    background-color: #00CFFF;
}

.button[disabled], input[type=submit][disabled], input[type=button][disabled] {
    opacity: 0.4;
}

.button.default,
input[type=submit].default,
.submit-row input.default {
    float: right;
    border: none;
    font-weight: 400;
    /*background: #417690;*/
    /* Dark */
    background-color: #1C304A;
}

.button.default:active, input[type=submit].default:active,
.button.default:hover, input[type=submit].default:hover {
    /*background: #205067;*/
    /* Bright */
    background-color: #00CFFF;
}

.button[disabled].default,
input[type=submit][disabled].default,
input[type=button][disabled].default {
    opacity: 0.4;
}


/* MODULES */

.module {
    border: none;
    margin-bottom: 30px;
    background: #fff;
}

.module p, .module ul, .module h3, .module h4, .module dl, .module p#branding h1 a:link {
    padding-left: 10px;
    padding-right: 10px;
}

.module blockquote {
    margin-left: 12px;
}

.module ul, .module ol {
    margin-left: 1.5em;
}

.module h3 {
    margin-top: .6em;
}

.module h2, .module caption, .inline-group h2 {
    margin: 0;
    padding: 8px;
    font-weight: 400;
    font-size: 13px;
    text-align: left;
    background: #00CFFF;
    color: #fff;
}

.module caption,
.inline-group h2 {
    font-size: 12px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.module caption {
    background: transparent;
    color: #666;
    padding-left: 0;
    text-transform: capitalize;
}

.module caption a,
.module caption a:link,
.module caption a:visited {
    color: #666;
}

.module table {
    border-collapse: collapse;
}

.module table th,
.module table td,
.module table th a,
.module table td a {
    color: #333;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2rem;
}

.module table th {
    color: #fff;
}

.module table th a:hover,
.module table td a:hover,
.module table th a:focus,
.module table td a:focus {
    color: #666;
}


/* MODEL */

.model-group td,
.model-grpup th {
    color: #333;
    font-weight: 200;
}

/* MESSAGES & ERRORS */

ul.messagelist {
    padding: 0;
    margin: 0;
}

ul.messagelist li {
    display: block;
    font-weight: 400;
    font-size: 13px;
    padding: 10px 10px 10px 65px;
    margin: 0 0 10px 0;
    background: #dfd url(../img/svg/icon-yes.svg) 40px 12px no-repeat;
    background-size: 16px auto;
    color: #333;
}

ul.messagelist li.warning {
    background: #ffc url(../img/svg/icon-alert.svg) 40px 14px no-repeat;
    background-size: 14px auto;
}

ul.messagelist li.error {
    background: #ffefef url(../img/svg/icon-no.svg) 40px 12px no-repeat;
    background-size: 16px auto;
}

.errornote {
    font-size: 14px;
    font-weight: 700;
    display: block;
    padding: 10px 12px;
    margin: 0 0 10px 0;
    color: #ba2121;
    border: 1px solid #ba2121;
    border-radius: 4px;
    background-color: #fff;
    background-position: 5px 12px;
}

ul.errorlist {
    margin: 0 0 4px;
    padding: 0;
    color: #ba2121;
    background: #fff;
}

ul.errorlist li {
    font-size: 13px;
    display: block;
    margin-bottom: 4px;
}

ul.errorlist li:first-child {
    margin-top: 0;
}

ul.errorlist li a {
    color: inherit;
    text-decoration: underline;
}

td ul.errorlist {
    margin: 0;
    padding: 0;
}

td ul.errorlist li {
    margin: 0;
}

.form-row.errors {
    margin: 0;
    border: none;
    border-bottom: 1px solid #eee;
    background: none;
}

.form-row.errors ul.errorlist li {
    padding-left: 0;
}

.errors input, .errors select, .errors textarea {
    border: 1px solid #ba2121;
}

div.system-message {
    background: #ffc;
    margin: 10px;
    padding: 6px 8px;
    font-size: .8em;
}

div.system-message p.system-message-title {
    padding: 4px 5px 4px 25px;
    margin: 0;
    color: #c11;
    background: #ffefef url(../img/svg/icon-no.svg) 5px 5px no-repeat;
}

.description {
    font-size: 12px;
    padding: 5px 0 0 12px;
}

/* BREADCRUMBS */

div.breadcrumbs {
    background: #F0F8FF;
    padding: 10px 40px;
    border: none;
    font-size: 14px;
    color: #333;
    text-align: left;
}

div.breadcrumbs a {
    color: #333;
}

div.breadcrumbs a:hover {
    color: #666;
}

/* ACTION ICONS */

.addlink {
    padding-left: 16px;
    background: url(../img/svg/icon-addlink.svg) 0 1px no-repeat;
    background-position: left;
}

.changelink, .inlinechangelink {
    padding-left: 16px;
    background: url(../img/svg/icon-changelink.svg) 0 1px no-repeat;
    background-position: left;
}

.deletelink {
    padding-left: 16px;
    background: url(../img/svg/icon-deletelink.svg) 0 1px no-repeat;
    background-position: left;
}

a.deletelink:link, a.deletelink:visited {
    color: #CC3434;
}

a.deletelink:hover {
    color: #993333;
}

/* OBJECT TOOLS */

.object-tools {
    font-size: 10px;
    font-weight: bold;
    padding-left: 0;
    float: right;
    position: relative;
    margin-top: -48px;
}

.form-row .object-tools {
    margin-top: 5px;
    margin-bottom: 5px;
    float: none;
    height: 2em;
    padding-left: 3.5em;
}

.object-tools li {
    display: block;
    float: left;
    margin-left: 5px;
    height: 16px;
}

.object-tools a {
    border-radius: 3px;
}

.object-tools a:link, .object-tools a:visited {
    display: block;
    float: left;
    padding: 3px 12px;
    background: #999;
    font-weight: 400;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: #fff;
}

.object-tools a:hover, .object-tools li:hover a {
    background-color: #00CFFF;
}

.object-tools a.viewsitelink, .object-tools a.golink {
    background: #999 url(../img/svg/tooltag-arrowright.svg) right 8px center no-repeat;
    padding-right: 26px;
}

.object-tools a.addlink {
    background: #046B99 url(../img/svg/tooltag-add.svg) right 8px center no-repeat;
    padding-right: 26px;
}

/* OBJECT HISTORY */

table#change-history {
    width: 100%;
}

table#change-history tbody th {
    width: 16em;
}

/* PAGE STRUCTURE */

#container {
    position: relative;
    width: 100%;
    min-width: 980px;
    padding: 0;
}

#content {
    padding: 20px 40px;
}

.dashboard #content {
    width: 600px;
}

#content-main {
    float: left;
    width: 100%;
}

#content-related {
    float: right;
    width: 260px;
    position: relative;
    margin-right: -300px;
}

/*
#content-main {
    float: left;
    width: 60%;
    margin: 0;
    margin-left: 10%;
}

#content-related {
    float: left;
    width: 20%;
}
*/

#footer {
    clear: both;
    padding: 10px;
}

/* COLUMN TYPES */

.colMS {
    margin-right: 300px;
}

.colSM {
    margin-left: 300px;
}

.colSM #content-related {
    float: left;
    margin-right: 0;
    margin-left: -300px;
}

.colSM #content-main {
    float: right;
}

.popup .colM {
    width: auto;
}

/* HEADER */

#header {
    width: auto;
    height: 40px;
    padding: 10px 40px;
    background: #417690;
    line-height: 40px;
    color: #ffc;
}

#header a:link, #header a:visited {
    color: #fff;
}

#header a:hover {
    text-decoration: underline;
}

#branding {
    float: left;
}

#branding h1 {
    padding: 0;
    margin: 0 20px 0 0;
    font-weight: 300;
    font-size: 24px;
    color: #f5dd5d;
}

#branding h2 {
    padding: 0 10px;
    font-size: 14px;
    margin: -8px 0 8px 0;
    font-weight: normal;
    color: #ffc;
}

#branding a:hover {
    text-decoration: none;
}

#user-tools {
    float: right;
    padding: 0;
    margin: 0 0 0 20px;
    font-weight: 300;
    font-size: 11px;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    text-align: right;
}

#user-tools a {
    font-weight: 400;
}

#user-tools a.top-link:hover {
    color: #fff;
}


#user-tools a:hover {
    text-decoration: none;
    border-bottom-color: #00CFFF;
    color: #00CFFF;
}

/* HEADER OVERRIDES */

#header {
    background: #323a45;
    color: #fff;
}

#branding h1,
#branding h1 a:link {
    color: #fff;
}


/* SIDEBAR */

#content-related {
    background: #f8f8f8;
}

#content-related .module {
    background: none;
}

#content-related h3 {
    font-size: 14px;
    color: #666;
    padding: 0 16px;
    margin: 0 0 16px;
}

#content-related h4 {
    font-size: 13px;
}

#content-related p {
    padding-left: 16px;
    padding-right: 16px;
}

#content-related .actionlist {
    padding: 0;
    margin: 16px;
}

#content-related .actionlist li {
    line-height: 1.2;
    margin-bottom: 10px;
    padding-left: 18px;
}

#content-related .module h2 {
    background: none;
    padding: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid #eaeaea;
    font-size: 18px;
    color: #333;
}

.delete-confirmation form input[type="submit"] {
    background: #ba2121;
    border-radius: 4px;
    padding: 10px 15px;
    color: #fff;
}

.delete-confirmation form input[type="submit"]:active,
.delete-confirmation form input[type="submit"]:hover {
    background: #a41515;
}

.delete-confirmation form .cancel-link {
    display: inline-block;
    vertical-align: middle;
    height: 15px;
    line-height: 15px;
    background: #ddd;
    border-radius: 4px;
    padding: 10px 15px;
    color: #333;
    margin: 0 0 0 10px;
}

.delete-confirmation form .cancel-link:active,
.delete-confirmation form .cancel-link:hover {
    background: #ccc;
}


/* POPUP */
.popup #content {
    padding: 20px;
}

.popup #container {
    min-width: 0;
}

.popup #header {
    padding: 10px 20px;
}


/* DROPDOWN */

/*==================================================
  $A11Y Dropdown
  ==================================================*/

/* Top level nav */
.nav {
    float: left;
    margin: 20px 0;
}

/* Dropdowns */
.nav ul {
    background-color: #112e51;
    font-weight: 400;
    left: -9999px;
    min-width: 150px;
    opacity: 0;
    position: absolute;
    top: 2.5em;
    transition: 0.1s linear opacity;
}

.nav li {
    float: left;
    list-style-type: none;
    position: relative;
}

/* Top level nav items */
.nav li > a {
    float: left;
    padding: 10px 15px;
    text-decoration: none;
}

.nav li a.top-link {
    background: url(../img/angle-down-white.svg) no-repeat;
    background-position: right 0px bottom 5px;
    background-size: 30px auto;
    padding-right: 25px;
}

/* Top level hover state, preserve hover state when hovering dropdown  */
.nav li > a:hover,
.nav li > a:focus,
.nav li:focus > a,
.nav li:hover > a {
    background-color: #112e51;
    outline: 0;
}

.nav li:focus a.top-link,
.nav li:hover a.top-link {
    color: #fff;

}

.nav li:hover,
.nav li:focus,
.nav li.active {
    background-color: #112e51;
}



.nav li:hover ul,
.nav li:focus ul,
ul.show-menu {
    left: -100%;
    opacity: 0.99;
    right: 0;
    text-align: right;
    z-index: 9000;
}

.nav ul li {
    float: none;
    position: static;
}

.nav ul a {
    float: none;
    display: block;
    font-size: 12px;
    text-shadow: none;
    transition: 0.1s linear all;
}

.nav ul a:hover,
.nav ul a:focus {
    text-shadow: none;
}


/*==================================================
  $Helpers
  ==================================================*/

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* FOOTER */

footer .usa-grid {
  padding: 1.25em;
}

.usa-footer .usa-unstyled-list {
  display: block; }
.usa-footer .usa-footer-primary-link {
  color: #212121;
  display: block;
  font-weight: 700;
  margin-top: 0;
  padding-bottom: 2rem;
  padding-top: 2rem; }
  @media screen and (min-width: 600px) {
    .usa-footer .usa-footer-primary-link {
      border-top: none; } }
.usa-footer a {
  font-weight: normal; }

.usa-footer-return-to-top {
  padding-bottom: 2rem;
  padding-top: 2rem; }

.usa-footer-primary-section {
  background-color: #f1f1f1; }
  .usa-footer-primary-section .usa-footer-primary-content {
    padding-left: 2.5rem;
    padding-right: 2.5rem; }
    .usa-footer-primary-section .usa-footer-primary-content li {
      margin-left: 1rem; }
      @media screen and (min-width: 600px) {
        .usa-footer-primary-section .usa-footer-primary-content li {
          margin-left: 0; } }
    @media screen and (min-width: 600px) {
      .usa-footer-primary-section .usa-footer-primary-content {
        padding-left: 0;
        padding-right: 0; } }
  @media screen and (min-width: 600px) {
    .usa-footer-primary-section .usa-grid-full {
      padding-left: 2.5rem;
      padding-right: 2.5rem; } }

@media screen and (min-width: min-width 600px 6) {
  .width-one-sixth {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%; }
    .width-one-sixth:last-child {
      margin-right: 0; } }

.usa-footer-medium .usa-footer-primary-section {
  padding: 0; }
  @media screen and (min-width: 600px) {
    .usa-footer-medium .usa-footer-primary-section {
      padding-top: 1rem;
      padding-bottom: 1rem; } }
@media screen and (min-width: 600px) {
  .usa-footer-medium .usa-footer-nav ul {
    align-items: center;
    display: flex; } }

.usa-footer-slim .usa-footer-nav a {
  display: block; }
.usa-footer-slim .usa-footer-primary-section {
  padding-bottom: 2rem; }
  @media screen and (min-width: 600px) {
    .usa-footer-slim .usa-footer-primary-section {
      padding-bottom: 1rem;
      padding-top: 1rem; }
      .usa-footer-slim .usa-footer-primary-section .usa-grid-full {
        align-items: center;
        display: flex; } }

ul.usa-footer-primary-content,
li.usa-footer-primary-content,
li.usa-footer-primary-content {
  border-top: 1px solid #212121; }
  ul.usa-footer-primary-content:last-child,
  li.usa-footer-primary-content:last-child,
  li.usa-footer-primary-content:last-child {
    border-bottom: 1px solid #212121; }
    @media screen and (min-width: 600px) {
      ul.usa-footer-primary-content:last-child,
      li.usa-footer-primary-content:last-child,
      li.usa-footer-primary-content:last-child {
        border-bottom: none; } }
  @media screen and (min-width: 600px) {
    ul.usa-footer-primary-content,
    li.usa-footer-primary-content,
    li.usa-footer-primary-content {
      border: none; } }

.usa-sign_up-block {
  padding-bottom: 2rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem; }
  .usa-sign_up-block label:first-of-type {
    margin-top: 0; }
  .usa-sign_up-block button {
    float: none;
    margin-right: 0;
    margin-top: 1.5rem; }
  .usa-sign_up-block input {
    width: 100%; }
  @media screen and (min-width: 600px) {
    .usa-sign_up-block {
      float: right;
      padding: 0; } }

.usa-footer-secondary_section {
  background-color: #d6d7d9;
  padding: 0; }
  .usa-footer-secondary_section a {
    color: #212121; }

@media screen and (min-width: 600px) {
  .usa-footer-big-secondary-section {
    padding-top: 5rem; } }

@media screen and (min-width: 600px) {
  .usa-footer-contact-links {
    text-align: right; } }

@media screen and (min-width: 600px) {
  .usa-footer-big .usa-footer-primary-section {
    padding-top: 3rem;
    padding-bottom: 4rem; } }
.usa-footer-big ul {
  padding-bottom: 2.5rem; }
  .usa-footer-big ul:last-child {
    border-bottom: 1px solid #212121; }
    @media screen and (min-width: 600px) {
      .usa-footer-big ul:last-child {
        border-bottom: none; } }
  .usa-footer-big ul li {
    line-height: 2em; }
  @media screen and (min-width: 600px) {
    .usa-footer-big ul {
      padding-bottom: 0; } }
  .usa-footer-big ul .usa-footer-primary-link {
    background-image: url("../img/arrow-down.png");
    background-image: url("../img/arrow-down.svg");
    background-position: 1.5rem center;
    background-repeat: no-repeat;
    background-size: 1.3rem;
    padding-left: 3.5rem; }
    @media screen and (min-width: 600px) {
      .usa-footer-big ul .usa-footer-primary-link {
        background: none;
        padding-bottom: 0;
        padding-left: 0; } }
  .usa-footer-big ul.hidden {
    padding-bottom: 0; }
    .usa-footer-big ul.hidden .usa-footer-primary-link {
      background-image: url("../img/arrow-right.png");
      background-image: url("../img/arrow-right.svg");
      cursor: pointer;
      margin: 0; }
      @media screen and (min-width: 600px) {
        .usa-footer-big ul.hidden .usa-footer-primary-link {
          background: none;
          padding-left: 0; } }
    .usa-footer-big ul.hidden li {
      display: none; }

.usa-footer-topic {
  margin: 0;
  padding: 2rem 0; }

@media screen and (min-width: 600px) {
  .usa-sign_up-header {
    margin: 0;
    padding: 2rem 0; } }

.usa-footer-logo {
  margin-bottom: 1.25em; }
  @media screen and (min-width: 600px) {
    .usa-footer-logo {
      margin-bottom: 0; } }

.usa-footer-logo-img {
  max-width: 14rem; }

.usa-footer-slim-logo-img {
  float: left;
  max-width: 10rem; }

.usa-footer-logo-heading {
  color: #000;
  margin-top: 2rem;
  font-size: 1.2rem;
  line-height: 1.3rem;
}

.usa-footer-contact-heading {
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase; }
  @media screen and (min-width: 600px) {
    .usa-footer-contact-heading {
      margin-top: 1rem; } }

.usa-footer-slim-logo-heading {
  display: block;
  padding-top: 1rem; }
  @media screen and (min-width: 600px) {
    .usa-footer-slim-logo-heading {
      display: inline-block;
      padding-left: 1em; } }

.usa-footer-secondary_section {
  background-color: #fff1d2; }

.usa-footer-logo-img {
  width: 60px;
  height: 60px; }

.usa-footer-logo-heading {
  display: inline-block;
  font-weight: 400;
  padding-left: 1.25em;
  width: 75%; }
  @media screen and (min-width: 600px) {
    .usa-footer-logo-heading {
      margin-bottom: 0; } }


